<%- model_class = Problem -%>
<%= grid @problems do |g|
  g.column name: '#' do |problem|
    problem.id
  end

  g.column name: 'Problem name' do |problem|
    problem_text = h problem.name
    problem_text = "<del>#{problem_text}</del>" if problem.ok?(current_user)
    link_to (sanitize problem_text), problem
  end

  g.column name: "Tags" do |problem|
    tags = ""
    problem.tags.each do |tag|
      tags << (sanitize "<span =\"label label-info\">#{h tag}</span>")
    end
    tags
  end

  g.column name: 'Time limit', :class => "muted" do |problem|
    "%.1f s" %[problem.time_limit / 1000.0]
  end
end -%>
